/*Put custom css here*/
.vertical-align {
    display: flex;
    align-items: center;
    height: 100%;
}

.console {
  font-family:"Lucida Console";
  padding: 10px;
}

.smallMargin {
  margin: 5px 5px 5px 5px;
}

.barcaBlue {
    color: #004B96;
}

body, .root {
    background-color: transparent !important;
    color: white !important;
}

